"*":
  core:
    automaticallyUpdate: false
    ignoredNames: [
      ".git"
      "node_modules"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "rocket-dark-syntax"
    ]
    titleBar: "custom"
    uriHandlerRegistration: "always"
    warnOnLargeFileLimit: 5
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "d541b464-200f-43cf-8d80-6ee76dcb576e"
  github: {}
  "linter-ui-default": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
